

.bg-white-nav {
    background-color: white;
}

.active-button {
    background-color: #f7f3fc !important;
    color: #605C65 !important;
}


.btn-menu {
    width: 250px;
    color: #605C65;
}

.btn-menu:hover {
    background-color: #F6F0FF;
    color: #605C65;
}

.btn-conteudo{
    background-color: #f7f3fc;
}

.conteudo-white{
    background-color: white;
    padding-right: 1.5rem;
}

.w-menu-white {
    background-color: white;
    padding-right: 1.5rem;
}

.count-data {
    background-color: white;
    width: 50px;
    height: 98px;
}

.cd-font {
    font-size: small;
}

.btn-principal {
    background-color: #8131f8;

    color: white;
}

.btn-principal:hover {
    background-color: #521aa5;
    color: white;
}

.form-control:focus{
    border-color: #d8abe6;
    box-shadow:0px 0px 0px 0.25rem #e9d3f0;

}

.form-select:focus{
    border-color: #d8abe6;
    box-shadow:0px 0px 0px 0.25rem #e9d3f0;
}

.required-red{
    color: red;
}

.table-itens-secondary-color{
    color: rgb(58, 58, 58) !important;
}

.btn-itens {
    background-color: #605C65;
    color: white;
}

.btn-itens:hover {
    background-color: rgb(74, 72, 75);
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-ativo{
    display: inline-block;
    text-align: center;
    background-color: #2be625;
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 30px;
}

.btn-inativo{
    display: inline-block;
    text-align: center;
    background-color: #e62525;
    color: white;
    padding: 1px 8px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 30px;
}
