
.bg-white-nav {
    background-color: white;
}

.active-button {
    background-color: #f7f3fc !important;
    color: #605C65 !important;
}

.btn-menu {
    width: 250px;
    color: #605C65;
}

.btn-menu:hover {
    background-color: #F6F0FF;
    color: #605C65;
}

.btn-conteudo{
    background-color: #f7f3fc;
}

.conteudo-white{
    background-color: white;
    padding-right: 1.5rem;
}

.w-menu-white {
    background-color: white;
    padding-right: 1.5rem;
}

.count-data {
    background-color: white;
    width: 50px;
    height: 98px;
}

.cd-font {
    font-size: small;
}

.btn-principal {
    background-color: #8131f8;
    color: white;
}

.btn-principal:hover {
    background-color: #521aa5;
    color: white;
}

.form-control:focus{
    border-color: #d8abe6;
    box-shadow:0px 0px 0px 0.25rem #e9d3f0;

}

.form-select:focus{
    border-color: #d8abe6;
    box-shadow:0px 0px 0px 0.25rem #e9d3f0;
}

.required-red{
    color: red;
}

.table-itens-secondary-color{
    color: rgb(58, 58, 58) !important;
}

.btn-itens {
    background-color: #605C65;
    color: white;
}

.btn-itens:hover {
    background-color: rgb(74, 72, 75);
    color: white;
}

.btn-item-delete {
    background-color: #605C65;
    color: white;
}

.btn-item-delete:hover {
    background-color: rgb(214, 73, 68);
    color: white;
}

.btn-item-sale {
    background-color: #605C65;
    color: white;
}

.btn-item-sale:hover {
    background-color: rgb(0, 135, 88);
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-ativo{
    display: inline-block;
    text-align: center;
    color: white;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 30px;
}

.btn-inativo{
    display: inline-block;
    text-align: center;
    color: white;
    padding: 1px 8px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 30px;
}

.titulo{
    font-weight: bolder !important;
}

.corpo{
    color: #313131;
}

.linha{
    border-bottom: 1px solid #C4C4C4;
    margin-top: 15px;
    margin-bottom: 15px;
}

.produtoTitulo{
    font-size: 30px;
    color: black;
}

.produtoSubTitulo{
    font-size: 20px;
    color: black;
}

.produtoSubInfo{
    color: #919191;
}

.produtoInfo{
    font-size: 24px;
}

.page-link{
    color: #605C65;
}

.page-link:hover{
    color: #605C65;
    background-color: #f7f3fc;
}

.bg-selected{
    background-color: #8131f8 !important;
    border: none !important;
}

.bg-selected:hover{
    background-color: #7523f0 !important;
    color: white;
    border: none ;
}
